
/*PLAYER CHROME*/

.soundcite-loaded {
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 10px;
    padding: 0 5px 0 5px;
    display: inline-block;
    cursor: pointer;
}

.soundcite-loaded:before {
    display: inline-block;
    content: "";
    vertical-align: -10%;
    margin-right: 0.25em;
}

.soundcite-play:before {
    border: 0.5em solid transparent;
    border-left: 0.75em solid black;
}

.soundcite-pause:before {
    height: 1em;
    border-left: .75em double black;
    border-right: .5em solid transparent;
}

