body {
  padding-top: 40px;
}

body, p {
  font-family: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

h2, h3, legend {
  font-family: 'Arvo', Georgia, serif !important;
  font-weight: 400 !important;
  text-align: center;
}

#intro {
  padding: 30px 0 40px 0;
  background-color: #f3f3f3;
}

#intro h2 {
  margin:20px 0 35px 0;
}

#intro .examples h4 {
  margin-top:0;
}

#intro .examples .example {
  margin-bottom:20px;
  overflow:auto;
}

#intro .examples .example:last-child {
  margin-bottom:0;
  overflow:auto;
}

#intro .examples .example figure {
  float: left;
  margin:0;
  margin-right:5px;
}

#intro .examples .example p {
  display: inline-block;
}

#intro .examples .example figure img {
  border-radius: 100px;
  max-width: 100px;
  height: auto;
}

.example {
  clear: both;
}

#embed {
  padding:30px 0 40px 0;
  background:#ccc;
}

#qa {
  padding:30px 0 40px 0;
  background-color:#ececec;
}

#about {
  padding:30px 0 40px 0;
  background-color:#f3f3f3;
}

#about2 {
  padding:30px 0 40px 0;
  background-color:#333;
  color:#f3f3f3;
}

#make {
  margin-top: 23px;
}

#player {
  display: none;
}

#creation_box{
  display: none;
}

#creation_box h3 {
  text-align: center;
}

#times {
  text-align: center;
}

input::-webkit-input-placeholder {
  font-size: 11px;
}
input:-moz-placeholder {
  font-size: 11px;
}
input:-ms-input-placeholder {
  font-size: 11px;
}

#code {
  display: none;
}

pre {
  background-color: white !important;
}

textarea {
  width: 100% !important;
  height: auto !important;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace !important;
  background-color: white !important;
  cursor: auto !important;
  resize: none !important;
}
