<section class="container" id="create-new">
  <div class="row-fluid">
    <div class="span12">
      <h2>Create clips</h2>
      <p>On your site or blog in no time. As easy as 1-2-3</p>
    </div>
  </div>
  <div class="row-fluid step">
    <h2 class="span1">1</h2>
    <div class="span11">
      <h4>Paste the URL of your SoundCloud, MP3 or Ogg sound below:</h4>
      <p>After clicking the "Load" button, you will see your clip appear in step #2.</p>
      <form class="form-inline" onsubmit="return false;">
        <input type="search" id="url" class="urlBox" value="" placeholder="Enter URL">
        <button id="load_url" class="btn btn-primary">Load</button>
      </form>
      <em class="example block">SoundCloud example: <a class="example-url" href="javascript:void(0);">https://soundcloud.com/samgellaitry/d-a-o-s</a></em>
      <em class="example block">MP3 example: <a class="example-url" href="javascript:void(0);">{{ MEDIA_URL }}/bach-cello-suite.mp3</a></em>
   </div>
  </div> <!-- end row -->

  <div class="row-fluid step">
    <h2 class="span1">2</h2>
    <div class="span11">
      <h4>Use the controls below to set the START and END points for your clip.</h4>
      <p>You can manually specify the start/end times in the text fields, or you can start playing the clip and click the START/END buttons to copy that time into the fields.</p>
      <section id="creation_box">
        <div id="audio_container">
            <div id="audio_name"></div>
            <audio id="audio_player" src="" controls>
            </audio>
        </div>

        <div id="player_container">
          <iframe id="player" width="100%" height="166" scrolling="no" frameborder="no" src="//w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=true"></iframe>
        </div>

        <form id="times" class="form-inline clearfix">
          <div id="start-group" class="control-group span2">
            <label class="control-label" for="start_field">Start time</label><br>
            <input type="text" id="start_field" class="input-small start" placeholder="0:00" value="" tabindex="1"><br>
            <button type="button" id="start_btn" class="btn btn-link">Set from player</button>
          </div>
          <div id="end-group" class="control-group span2">
            <label class="control-label" for="start_field">End time</label><br>
                <input type="text" id="end_field" class="input-small end" placeholder="0:05" value="" tabindex="2"><br>
                <button type="button" id="end_btn" class="btn btn-link">Set from player</button>
          </div>
          <div id="end-group" class="control-group span2">
            <label class="control-label" for="plays">Plays</label><br>
            <input type="number" id="plays_field" class="input-mini plays" placeholder="1" value="1" min="0" tabindex="3">
          </div>
          <div id="text-group" class="control-group span5">
            <label class="control-label" id="linklabel" for="linktext">Link text</label><br>
            <input type="text" class="input-medium" id="linktext" placeholder="text to be hyperlinked" value="listen"  tabindex="4">
            <button type="button" id="create_clip" class="btn btn-primary pull-right" tabindex="5">Create clip</button>
          </div>
        </form>
        <h3>Created clips</h3>
        <em id="audition_area_status">None</em>
        <div id="audition_area">
        </div>
      </section>
    </div>
  </div> <!-- end row -->
  <div class="row-fluid step">
    <h2 class="span1">3</h2>
    <div class="span11">
     <h4>Embedding</h4>
      <ol>
          <input id="apikey" type="text" class="input-xxlarge" placeholder="(Optional) Paste SoundCloud Client ID here" ></input>&nbsp;
        <i class="icon-question-sign" data-toggle="modal" data-target="#api-key-overlay"></i>
        <li>When you are finished creating clips and have (optionally) pasted your Client ID above, take the following embed code and paste it at the top of your page.</li>
        <textarea id="header" rows="4" readonly="readonly" class="code">
        </textarea>


        <li>Then, for each clip, paste its associated embed code where the text would normally go in the page.</li>
      </ol>
    </div>
  </div>


  <div id="api-key-overlay" class="modal hide fade">
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <p>SoundCloud imposes rate limits on API key usage. To isolate your request count from SoundCite embeds on other sites, use your own API key by pasting it here.</p>
          <ul>
              <li>Go to https://developers.soundcloud.com/</li>
              <li>Click "Register a new application</li>
              <li>Fill in the application for and click "Register"</li>
              <li>Copy the "Client ID" field. This is your API key</li>
              <li>Be sure to save the app</li>
          </ul>
      </div>
  </div>


</section> <!-- end section -->
<script id="soundcloud-clip-base-template" type="text/template">
<span class="soundcite" data-id="<%= id %>" data-start="<%= start %>" data-end="<%= end %>" data-plays="<%= plays %>"><%= text %></span>
</script>
<script id="file-clip-base-template" type="text/template">
<span class="soundcite" data-url="<%= url %>" data-start="<%= start %>" data-end="<%= end %>" data-plays="<%= plays %>"><%= text %></span>
</script>
<script id="clip-preview-template" type="text/template">
<div class="clip">
  <button type='button' class='btn btn-text pull-right icon-trash delete-clip'></button>
  <p>This is your clip <%= clip_html %> shown inline with text.</p>
  <h6>Embed code</h6>
  <textarea readonly="readonly" class="code"><%= clip_html %></textarea>
</div>
</script>

<script id="create-error-template" type="text/template">
<div id="create-error" class="alert alert-error clear">
  <button data-dismiss="alert" class="close" type="button">x</button>
  <strong>Oops!</strong> Please correct the errors above and try submitting again.
</div>
</script>

<script id="embed-code-template" type="text/template">
    <% if (typeof(api_key) !== "undefined" && api_key != "") { %><% print('<script'); %> type="text/javascript">SOUNDCITE_CONFIG = {soundcloud_client_id: "<%= api_key %>"}<% print('</' + 'script>'); %><% } %><link href='https://cdn.knightlab.com/libs/soundcite/latest/css/player.css' rel='stylesheet' type='text/css'><% print('<script'); %> type='text/javascript' src='https://cdn.knightlab.com/libs/soundcite/latest/js/soundcite.min.js'><% print('</' + 'script>'); %>
</script>
