
        <section id="demo" class="container-fluid">
            <div class="product-demo">
                <div class="grid">
                    <div class="column-8">
                        <blockquote class="blockquote--large">
                            <p class="text-color-grey--lighter">
                                Tens of thousands of Egyptians packed into Tahrir Square in central Cairo on Friday ... <span class="text-color-text-default"><span data-end="81701" data-start="72436" data-url="https://soundcite.knightlab.com/media/hearingvoices_voices-from-tahrir.mp3" class="soundcite soundcite-loaded soundcite-play">The crowd was as large</span></span> as any that has gathered in the square since the protests that forced out President Hosni Mubarak in February 2011.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
