
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Soundcite</title>
    <meta name="keywords" content="">
    <meta name="description" content="Knight Lab style guide">
    <link rel="stylesheet" href="https://cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css"/>
    <link rel="stylesheet" href="https://cdn.knightlab.com/libs/orangeline/latest/css/orangeline.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <!-- needed for authoring tool -->
    <script src="https://connect.soundcloud.com/sdk-2.0.0.js"></script>
    <!-- build:css //cdn.knightlab.com/libs/soundcite/%(cdn)s/css/player.css -->
    <link rel="stylesheet" href="/soundcite/css/player.css">
    <!-- endbuild -->
    <!-- build:js //cdn.knightlab.com/libs/soundcite/%(cdn)s/js/soundcite.min.js -->
    <script type="text/javascript" src="/soundcite/js/soundcite.js"></script>
    <!-- endbuild -->
