
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Soundcite</title>
    <link rel="stylesheet" href="https://cloud.typenetwork.com/projects/5433/fontface.css"/>
    <link rel="stylesheet" href="https://cdn.knightlab.com/libs/orangeline/latest/css/orangeline.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <!-- needed for authoring tool -->
    <script src="https://connect.soundcloud.com/sdk-2.0.0.js"></script>
    <!-- build:css //cdn.knightlab.com/libs/soundcite/%(cdn)s/css/player.css -->
    <link rel="stylesheet" href="/soundcite/css/player.css">
    <!-- endbuild -->
    <!-- build:js //cdn.knightlab.com/libs/soundcite/%(cdn)s/js/soundcite.min.js -->
    <script type="text/javascript" src="/soundcite/js/soundcite.js"></script>
    <!-- endbuild -->

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/manifest.json">
    <link rel="mask-icon" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicons -->

    <!-- Meta -->
    <meta name="keywords" content="story, news, social media, create, twitter, journalism, soundcloud, audio">
    <meta name="description" content="Seamless inline audio.">
    <!-- /Meta -->

    <!-- Open Graph -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Soundcite" />
    <meta property="og:description" content="Seamless inline audio." />
    <meta property="og:image" content="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-soundcite.png" />
    <meta property="og:url" content="https://soundcite.knightlab.com" />
    <meta property="og:site_name" content="SoundCite" />
    <!-- /Open Graph -->

    <!-- Twitter Card -->
    <meta name="twitter:title" content="Soundcite">
    <meta name="twitter:description" content="Seamless inline audio.">
    <meta name="twitter:image" content="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-soundcite.png">
    <meta name="twitter:site" content="@knightlab">
    <meta name="twitter:creator" content="@knightlab">
    <!-- /Twitter Card -->
