<section id="examples" class="container">
  <h2>Examples</h2>
  <p>Have you used SoundCite? <span><a href="https://docs.google.com/a/digitalartwork.net/spreadsheet/viewform?formkey=dE5PR01xc2h5cmRySkowLVIzOUVYeUE6MQ#gid=0" target="_blank">Let us know</a>, and we might feature it here.</span></p>

  <!-- Examples Row 1-->
  <div class="row">
    <div class="span3">
      <a href="http://classics.esquire.com/bbking/" target="_blank">
        <img src="/static/img/examples/thumbs/thumb_bbking.jpg" class="thumbnail">
        <img src="/static/img/examples/logos/logo_esquire.png" alt="Esquire">
        <h3>B.B. King: What I've learned</h3>
      </a>
    </div>

   <div class="span3">
      <a href="http://www.nytimes.com/interactive/2014/04/13/magazine/blues.html" target="_blank">
        <img src="/static/img/examples/thumbs/thumb_record.jpg" class="thumbnail">
        <img src="/static/img/examples/logos/logo_nytmag.png" alt="New York Times Magazine">
        <h3>The Ballad of Geeshie and Elvie</h3>
      </a>
    </div>

   <div class="span3">
      <a href="http://www.macleans.ca/news/canada/interactive-timeline-what-happened-in-ottawa/" target="_blank">
        <img src="/static/img/examples/thumbs/thumb_ottawa.jpg" class="thumbnail">
        <img src="/static/img/examples/logos/logo_macleans.jpg" alt="Maclean's">
        <h3>What Happened in Ottawa</h3>
      </a>
    </div>
  </div>

  <!-- Examples Row 2-->
  <div class="row">
    <div class="span3">
      <a href="http://www.stltoday.com/news/multimedia/special/darren-wilson-s-radio-calls-show-fatal-encounter-was-brief/html_79c17aed-0dbe-514d-ba32-bad908056790.html" target="_blank">
        <img src="/static/img/examples/thumbs/thumb_ferguson.jpg" class="thumbnail">
        <img src="/static/img/examples/logos/logo_stl-post-dispatch.png" alt="St. Louis Dispatch">
        <h3>Darren Wilson's Radio Calls Show Brief Fatal Encounter</h3>
      </a>
    </div>

    <div class="span3">
      <a href="http://www.propublica.org/article/the-red-cross-secret-disaster" target="_blank">
        <img src="/static/img/examples/thumbs/thumb_redpicture.jpg" class="thumbnail">
        <img src="/static/img/examples/logos/logo_propublica.png" alt="ProPublica">
        <h3>The Red Cross' Secret Disaster</h3>
      </a>
    </div>

    <div class="span3">
      <a href="http://www.washingtonpost.com/sf/style/2014/07/01/songwriters/" target="_blank">
        <img src="/static/img/examples/thumbs/thumb_singer.jpg" class="thumbnail">
        <img src="/static/img/examples/logos/logo_washingtonpost.png" alt="Washington Post">
        <h3>Songwriters at The End of the World</h3>
      </a>
    </div>

    <div class="span3">
      <a href="http://www.wbez.org/blogs/jim-derogatis/2013-05/chance-rapper-paints-giddy-yet-profound-picture-south-side-life-107164" target="_blank">
        <img src="/static/img/examples/thumbs/thumb_chance-the-rapper.jpg" class="thumbnail">
        <img src="/static/img/examples/logos/logo_wbez.png" alt="WBEZ">
        <h3>Jim DeRogatis: Chance the Rapper</h3>
      </a>
    </div>
</div>

<!-- Examples Row 3-->
  <div class="row">

    <div class="span3">
      <a href="http://www.edweek.org/ew/projects/2013/native-american-education/running-in-place.html" target="_blank">
        <img src="/static/img/examples/thumbs/thumb_lakota-schoolbus.jpg" class="thumbnail">
        <img src="/static/img/examples/logos/logo_educationweek.png" alt="Education Week">
        <h3>Running in Place</h3>
      </a>
    </div>

    <div class="span3">
      <a href="http://interactive.wbez.org/nerdsjocks/" target="_blank">
        <img src="/static/img/examples/thumbs/thumb_jock-or-nerd.jpg" class="thumbnail">
        <img src="/static/img/examples/logos/logo_wbez.png" alt="WBEZ">
        <h3>Nerd or Jock?</h3>
      </a>
    </div>

    <div class="span3">
      <a href="http://www.mo.be/interview/nick-yarris" target="_blank">
        <img src="/static/img/examples/thumbs/thumb_mondiaal-nieuws-book.jpg" class="thumbnail">
        <img src="/static/img/examples/logos/logo_mondiaal.png" alt="Mondiaal Nieuws">
        <h3>Wrongly Convicted: 21 Years on Death Row</h3>
      </a>
    </div>

    <div class="span3">
      <a href="http://projects.aljazeera.com/2014/tangier-island/" target="_blank">
        <img src="/static/img/examples/thumbs/thumb_fisherman.jpg" class="thumbnail">
        <img src="/static/img/examples/logos/logo_aja.png" alt="Al Jazeera America">
        <h3>Treasured Tangier Island</h3>
      </a>
    </div>
  </div>
