{% extends "base.html" %}
{% block title %}Soundcite: Example: Music{% endblock %}

{% block content %}

  {% with active="music" %}
  {% include "_examples_nav.html" %}
  {% endwith %}
 
  <div id="qa" class="row-fluid">
    <div class="offset2 span8">
      <h2>Sample Page</h2>
      <p class="lead">This is a SoundCloud clip</p>
<!--
      <p>Tame Impala have never shied away from the sounds of classic rock <span class="soundcite" data-id="55728529" data-start="1" data-end="4820">thick, one-note guitar riffs</span> shuffle  ....</p>
-->
      <p><span class="soundcite" data-id="55728529" data-start="105000" data-end="110000">doit</span></p>
      
<!--
<p class="lead">Here is an example of an mp3 from Al-Jazeera called 'You don't have no incentive...'
</p>
<p>                             
This is <span class="soundcite" data-url="http://projects.aljazeera.com.s3.amazonaws.com/2014/crack-cocaine/audio/badley-quote.mp3" data-start="" data-end="10000">this first 10 seconds</span> of the clip.
</p>
<p>                             
This is <span class="soundcite" data-url="http://projects.aljazeera.com.s3.amazonaws.com/2014/crack-cocaine/audio/badley-quote.mp3" data-start="10000" data-end="20000">the next 10 seconds</span> of the clip.
</p>

<p class="lead">And here is the Bach cello suite...
</p>
<p>                             
This is <span class="soundcite" data-url="http://media.knilab.com/soundcite/bach-cello-suite.mp3" data-start="0" data-end="30000">the first 30 seconds</span>
</p>
<p>                             
This is <span class="soundcite" data-url="http://media.knilab.com/soundcite/bach-cello-suite.mp3" data-start="30000" data-end="60000">the next 30 seconds</span>
</p>
<p>                             
This is <span class="soundcite" data-url="http://media.knilab.com/soundcite/bach-cello-suite.mp3" data-start="120000" data-end="164000">the last 45 seconds.</span>
</p>
-->

    </div>
  </div>
{% endblock %}
