<!DOCTYPE html>
<html lang="en">
<head>
<title>Soundcite: Examples: Test</title>
<!-- build:css //cdn.knightlab.com/libs/soundcite/%(cdn)s/css/player.css -->
<link rel="stylesheet" href="/soundcite/css/player.css">
<!-- endbuild -->
<!-- build:js //cdn.knightlab.com/libs/soundcite/%(cdn)s/js/soundcite.min.js -->
<script type="text/javascript" src="/soundcite/js/soundcite.js"></script>
<!-- endbuild -->
</head>
<body>
 
<h2>Test Page</h2>
<p><b>navigator.userAgent =</b><em>
<script type="text/javascript">document.write(navigator.userAgent)</script>
</em></p>

<p><b>mobile test =</b><em>
<script type="text/javascript">document.write(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))</script>
</em></p>      


<h3>Tame Impala's Elephant (SoundCloud)</h3>

<p><span class="soundcite" data-id="55728529" data-start="0" data-end="5000">start at 0, 5 secs</span></p>

<p><span class="soundcite" data-id="55728529" data-start="80000" data-end="85000">start at 1:20, 5 secs</span></p>

<p><span class="soundcite" data-id="55728529" data-end="2000" >no start, 2 secs</span></p>

<p><span class="soundcite" data-id="55728529" data-start="200000">start at 3:20 to end</span></p>

<p><span class="soundcite" data-id="55728529" data-start="200000" data-plays="3">start at 3:20 to end, plays = 3</span></p>

<p><span class="soundcite" data-id="55728529" data-start="0" data-end="2000" data-plays="1">start at 0, 2 secs, plays = 1</span></p>

<p><span class="soundcite" data-id="55728529" data-start="0" data-end="2000" data-plays="3">start at 0, 2 secs, plays = 3</span></p>

<p><span class="soundcite" data-id="55728529" data-plays="3">no start, no stop, plays = 3</span></p>

<p><span class="soundcite" data-id="55728529" data-start="0" data-end="2000" data-plays="0">start at 0, 2 secs, plays = 0 (infinite loop)</span></p>

<h3>Tame Impala's Elephant (MP3)</h3>

<p><span class="soundcite" data-url="http://media.knightlab.com/soundcite/tame-impala_elephant.mp3" data-start="0" data-end="5000">start at 0, 5 secs</span></p>

<p><span class="soundcite" data-url="http://media.knightlab.com/soundcite/tame-impala_elephant.mp3" data-start="80000" data-end="85000">start at 1:20, 5 secs</span></p>

<p><span class="soundcite" data-url="http://media.knightlab.com/soundcite/tame-impala_elephant.mp3" data-end="2000">no start, 2 secs</span></p>

<p><span class="soundcite" data-url="http://media.knightlab.com/soundcite/tame-impala_elephant.mp3" data-start="200000">start at 3:20 to end</span></p>

<p><span class="soundcite" data-url="http://media.knightlab.com/soundcite/tame-impala_elephant.mp3" data-start="200000" data-plays="3">start at 3:20 to end, plays = 3</span></p>

<p><span class="soundcite" data-url="http://media.knightlab.com/soundcite/tame-impala_elephant.mp3" data-start="0" data-end="2000" data-plays="1">start at 0, 2 secs, plays = 1</span></p>

<p><span class="soundcite" data-url="http://media.knightlab.com/soundcite/tame-impala_elephant.mp3" data-start="0" data-end="2000" data-plays="3">start at 0, 2 secs, plays = 3</span></p>

<p><span class="soundcite" data-url="http://media.knightlab.com/soundcite/tame-impala_elephant.mp3" data-plays="3">no start, no stop, plays = 3</span></p>

<p><span class="soundcite" data-url="http://media.knightlab.com/soundcite/tame-impala_elephant.mp3" data-start="0" data-end="2000" data-plays="0">start at 0, 2 secs, plays = 0 (infinite loop)</span></p>

</body>
</html>
