{% extends "base.html" %}
{% block title %}Soundcite: Example: Music{% endblock %}

{% block content %}

  {% with active="music" %}
  {% include "_examples_nav.html" %}
  {% endwith %}
 
  <div id="qa" class="row-fluid">
    <div class="offset2 span8">
      <h2>Sample Page</h2>
      <p class="lead">Tame Impala have never shied away from the sounds of classic rock THIS IS A CLIP FROM SOUNDCLOUD: <span class="soundcite" data-id="55728529" data-start="1" data-end="4820">thick, one-note guitar riffs</span> shuffle and blah blah ....</p>
      <p class="lead">Here is an example of an mp3 from Al-Jazeera called                         <span class="soundcite" data-url="http://projects.aljazeera.com.s3.amazonaws.com/2014/crack-cocaine/audio/badley-quote.mp3" data-start="" data-end="10">'You don't have no incentive...'</span> blah blah blah.
    </p>
    </div>
  </div>
{% endblock %}
