<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Soundcite</title>
    <meta name="keywords" content="">
    <meta name="description" content="Knight Lab style guide">
    <link rel="stylesheet" href="https://cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css"/>
    <link rel="stylesheet" href="https://cdn.knightlab.com/libs/orangeline/latest/css/orangeline.min.css"/>
    <!-- needed for authoring tool -->
    <script src="https://connect.soundcloud.com/sdk-2.0.0.js"></script>
    <!-- build:css //cdn.knightlab.com/libs/soundcite/%(cdn)s/css/player.css -->
    <link rel="stylesheet" href="/soundcite/css/player.css">
    <!-- endbuild -->
    <!-- build:js //cdn.knightlab.com/libs/soundcite/%(cdn)s/js/soundcite.min.js -->
    <script type="text/javascript" src="/soundcite/js/soundcite.js"></script>
    <!-- endbuild -->
</head>

<body>
    <nav id="navbar-product-top" class="navbar navbar-dark">
    <ul>
        <li class="logo">
            <a href="http://knightlab.com">
                <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/knightlab-dark.png" />
            </a>
        </li>
    </ul>
    <ul class="nav-right column-hide-phone">
        <li><a class="button button-dark button-small-tablet" href="http://knightlab.northwestern.edu/projects/">Projects</a></li>
        <li><a class="button button-dark button-small-tablet" href="https://knightlab.northwestern.edu/class">Class</a></li>
        <li><a class="button button-dark button-small-tablet" href="https://knightlab.northwestern.edu/devicelab">Device Lab</a></li>
        <li><a class="button button-dark button-small-tablet" href="http://knightlab.northwestern.edu/news/">Blog</a></li>
        <li><a class="button button-dark button-small-tablet" href="http://knightlab.northwestern.edu/events/">Community</a></li>
        <li><a class="button button-dark button-small-tablet" href="http://knightlab.northwestern.edu/about/">About</a></li>
    </ul>
</nav>

    <header class="header-product">
	<h1 class="product-logo product-logo-large">Soundcite <span>JS</span></h1>
	<h2 class="product-tagline">Seamless inline audio.</h2>
	<a class="button button-secondary button-large button-small-phone" href="#make">Make a Clip</a>
    <nav id="navbar-secondary" class="navbar navbar-subnav column-hide-phone">
        <ul>
            <li class="logo">
                <h2 class="product-logo product-logo-smallest">Soundcite <span>JS</span></h2>
            </li>
        </ul>
        <ul>
                <li><a class="button" href="#overview">Overview</a></li>
                <li><a class="button" href="#examples">Examples</a></li>
                <li><a class="button" href="#make">Make a Clip</a></li>
                <li><a class="button" href="#help">Help</a></li>
        </ul>
    </nav>
</header>

    <article id="product-body">
        <section id="demo" class="container-fluid">
            <div class="product-demo">
                <div class="grid">
                    <div class="column-8">
                        <blockquote class="blockquote--large">
                            <p class="text-color-grey--lighter">
                                Tens of thousands of Egyptians packed into Tahrir Square in central Cairo on Friday ... <span class="text-color-text-default"><span data-end="81701" data-start="72436" data-url="https://soundcite.knightlab.com/media/hearingvoices_voices-from-tahrir.mp3" class="soundcite soundcite-loaded soundcite-play">The crowd was as large</span></span> as any that has gathered in the square since the protests that forced out President Hosni Mubarak in February 2011.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>

        </section>
        <section id="overview" class="container">
        	<div class="grid-size-2 grid-size-1-phone">
        		<div class="grid-item">

        			<p>
        				Audio is a powerful device that can add emotion or context to a story. Unfortunately audio clips force uncomfortable choices: read or listen, but not both. Until now. SoundCite is a simple-to-use tool that lets you add inline audio to your story. The audio is not isolated; it plays right under the text <span class="soundcite soundcite-loaded soundcite-play" data-url="https://soundcite.knightlab.com/media/tame-impala_elephant.mp3" data-start="5992" data-end="6651">you choose</span>.
        			</p>
                    <figure>
                        <div class="embed embed-16by9">
                            <iframe class="embed-item" src="https://player.vimeo.com/video/68383495"></iframe>
                        </div>
                    	<figcaption class="credit">Knight Lab</figcaption>
                    	<figcaption>
                    		This video will walk you through the basics of creating a Soundcite clip. Note that
                        the visual style of the Soundcite page has changed since this video was made, but the
                        basic steps have not.
                    	</figcaption>
                    </figure>
        		</div>
        		<div class="grid-item">
                    <h3 style="margin-top:0;">Tips &amp; tricks</h3>
        			<ol>
        				<li>TK TK TK Soundcite tip</li>
        				<li>TK TK TK Soundcite tip</li>
                <li>TK TK TK Soundcite tip</li>
        			</ol>



        		</div>
        	</div>
            <div class="grid">
                <div class="column-12">
                    <h3>Ways you can use Soundcite</h3>
                    <p>
                        SoundCite clips can be used in a variety of situations.
                        <!-- For more in-depth examples, <a href="/examples-music.html">click here</a>. -->
                    </p>
                </div>
            </div>
            <div class="grid">
                <div class="column-3 column-3-phone">
                    <img class="img-circle" src="https://soundcite.knightlab.com/static/img/sc-music-tameimpala.jpg">
                </div>
                <div class="column-9 column-9-phone">
                    <h4>Music</h4>
                    <p>
                        Tame Impala have never shied away from the sounds of classic rock radio, but <q>Elephant</q> is the first time they've gone deep into its mythology and symbolism. <!-- The first official single from their sophomore LP, <em>Lonerism</em>, --> ... [It] initially sounds like a pure top-down songwriting exercise- as in, <q>let's try to sound like the song's badass title.</q> So, <span data-end="4820" data-start="1" data-url="https://soundcite.knightlab.com/media/tame-impala_elephant.mp3" class="soundcite soundcite-loaded soundcite-play">thick, one-note guitar riffs</span> shuffle and stomp ... <!-- with a heavy beat.-->
                    </p>
                </div>

                <div class="column-3 column-3-phone">
                    <img class="img-circle" src="https://soundcite.knightlab.com/static/img/sc-spokenword-911delay.jpg">
                </div>
                <div class="column-9 column-9-phone">
                    <h4>Spoken Word</h4>
                    <p>
                        Stephanie Hooks pleaded for help after collapsing on the floor of her South Los Angeles home: <span data-end="177000" data-start="175796" data-url="https://soundcite.knightlab.com/media/latimes_hooks-family-911-call.mp3" class="soundcite soundcite-loaded soundcite-play">"I can't breathe... .</span> Help me breathe!" the 53-year-old grandmother wailed as frantic family members took turns on the phone with a Los Angeles Fire Department dispatcher...
                    </p>
                </div>

                <div class="column-3 column-3-phone">
                    <img class="img-circle" src="https://soundcite.knightlab.com/static/img/sc-naturalsound-protest.jpg">
                </div>
                <div class="column-9 column-9-phone">
                    <h4>Natural Sound</h4>
                    <p>
                        Tens of thousands of Egyptians packed into Tahrir Square in central Cairo on Friday ... <span data-end="81701" data-start="72436" data-url="https://soundcite.knightlab.com/media/hearingvoices_voices-from-tahrir.mp3" class="soundcite soundcite-loaded soundcite-play">The crowd was as large</span> as any that has gathered in the square since the protests that forced out President Hosni Mubarak in February 2011.
                    </p>
                </div>

            </div>

        </section>

        <section class="section-color fill-color-grey--lightest" id="examples">
    <div class="container">
        <h2>Examples</h2>
        <div class="example-grid">
          {% for example in examples %}
          {#
              Add/edit examples in the examples.json file.
              Depends upon inject_examples in app.py for these to be available to render.
          #}
          <div class="grid-item">
              <a href="{{ example.link }}" class="button button-light">
                  <figure class="examples">
                      <img src="{{ example.thumbnail }}" alt="{{ example.title }}">
                  </figure>
                  <img src="{{ example.source_logo }}" alt="{{ example.source }}" class="logo-inline">
                  <h4>{{ example.title }}</h4>
              </a>
          </div>
          {% endfor %}
    </div>
</section>


        <section class="section-color section-color-complement" id="make">
            <div class="container">
                <h2>Create Clips</h2>
                <p>
                    On your site or blog in no time. As easy as 1-2-3.
                </p>

                <ol class="instructional-steps">

                    <li id="make-set-url" class="step grid">
                        <div class="step-number column-2">
                            <h6>Paste your audio URL</h6>
                        </div>
                        <div class="step-details column-10">
                            <p>Before you start, you must publish your sound files to the web. You can use <a href="https://soundcloud.com">SoundCloud</a> or put MP3 or Ogg audio files on a webserver of your choice.</p>
                            <p>Put the URL to your audio in the field below and click "load."</p>
                            <form>
                                <div class="input-group-label column-12">
                                    <label class="input-group-addon" for="inlinelabel">Audio URL</label>
                                    <input type="text" id="url">
                                </div>
                            </form>
                            <a class="button button-complement" id="load_url">Load</a>
                            <div id="audio-clip-examples">
                              <p>Want to try Soundcite but you don't have any audio? Try one of these:</p>
                              <em class="example block">SoundCloud example: <a class="example-url" href="javascript:void(0);">https://soundcloud.com/studsterkel-radio-archive/alex-kotlowitz-discusses-his-book-there-are-no-children-here-19910228</a></em><br>
                              <em class="example block">MP3 example: <a class="example-url" href="javascript:void(0);">{{ MEDIA_URL }}/bach-cello-suite.mp3</a></em>
                            </div>
                        </div>
                    </li>
                    <li id="make-clip-options" class="step grid">
                        <div class="step-number column-2">
                            <h6>Set clip options</h6>
                        </div>
                        <div class="step-details column-10">

                            <div class="grid">
                                <div class="grid-item">
                                  <p>Do you want to play just part of your audio file? Soundcite can do that without you having to cut the file up into separate clips.</p>
                                  <p>If you want to play the entire audio file, you don't have to do anything. If you want to play just a clip, you can enter the start and end times in the file below. If you'd rather, you can just use the embedded player to listen, and use the "set from player" buttons when you hear the right part.</p>
                                  <section id="creation_box" style="display: none">

                                    <div id="audio_container">
                                        <div id="audio_name"></div>
                                        <audio id="audio_player" src="" controls>
                                        </audio>
                                    </div>

                                    <div id="player_container">
                                      <iframe id="player" width="100%" height="166" scrolling="no" frameborder="no" src=""></iframe>
                                    </div>

                                    <form id="times" class="">
                                      <div id="start-group" class="control-group span2">
                                        <label class="control-label" for="start_field">Start time</label><br>
                                        <input type="text" id="start_field" class="input-small start" placeholder="0:00" value="" tabindex="1"><br>
                                        <button type="button" id="start_btn" class="btn btn-link">Set from player</button>
                                      </div>
                                      <div id="end-group" class="control-group span2">
                                        <label class="control-label" for="start_field">End time</label><br>
                                            <input type="text" id="end_field" class="input-small end" placeholder="0:05" value="" tabindex="2"><br>
                                            <button type="button" id="end_btn" class="btn btn-link">Set from player</button>
                                      </div>
                                      <div id="end-group" class="control-group span2">
                                        <label class="control-label" for="plays">Plays</label><br>
                                        <input type="number" id="plays_field" class="input-mini plays" placeholder="1" value="1" min="0" tabindex="3">
                                      </div>
                                      <div id="text-group" class="control-group span5">
                                        <label class="control-label" id="linklabel" for="linktext">Link text</label><br>
                                        <input type="text" class="input-medium" id="linktext" placeholder="text to be hyperlinked" value="listen"  tabindex="4">
                                        <button type="button" id="create_clip" class="btn btn-primary pull-right" tabindex="5">Create clip</button>
                                      </div>
                                    </form>
                                    <h3>Created clips</h3>
                                    <em id="audition_area_status">None</em>
                                    <div id="audition_area">
                                    </div>
                                  </section>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Share your timeline</h6>
                        </div>
                        <div class="step-details column-10">


                        </div>
                    </li>
                </ol>
            </div>
        </section>

        <section class="section container" id="help">

    <div class="grid">
        <div class="column-8">
            <h2>Help</h2>
            <p>
                Need help? First, please be sure to look at our list of <a href="#faq">frequently asked questions</a> below. If you're brand new to Soundcite JS, you may also want to watch our <a href="https://vimeo.com/68383495" target="_blank">introductory video</a>.
            </p>
            <p>
                If you don't find an answer there, try our <a href="https://knightlab.zendesk.com/hc/en-us/categories/201567586-SoundciteJS">support forums</a> or use our <a href="https://knightlab.zendesk.com/anonymous_requests/new">tech support web form.</a> <strong>Please be clear</strong> with your question, <strong>include a link to your spreadsheet</strong>, and if appropriate, a link to a page which shows the issue with which you need help. <strong>We can only answer support questions in English.</strong> We try to be prompt, but please understand that we do not have a dedicated tech support staff.
            </p>
            <p class="note">
                <strong>Find a bug?</strong> If you are confident you have found a bug, please report it as <a href="https://github.com/NUKnightLab/soundcite/issues">a GitHub issue</a>. Be sure to include detailed instructions on how to reproduce the bug. If you're not sure, please start with <a href="https://knightlab.zendesk.com/anonymous_requests/new">the tech support system</a>.
            </p>
        </div>
        <div class="column-4">
            <h3>Technical documentation</h3>
            <p>Go further with Soundcite:</p>
            <ul>
                    <li><a href="https://storymap.knightlab.com/advanced/">Managing StoryMapJS data</a></li>
                    <li><a href="https://storymap.knightlab.com/advanced/">Setting up your page</a></li>
                    <li><a href="https://storymap.knightlab.com/advanced/#json-syntax">JSON syntax</a></li>
                    <li><a href="https://storymap.knightlab.com/gigapixel/">StoryMap for Images</a></li>
            </ul>
        </div>
    </div>

    <div class="grid" id="faq">
    <div class="grid-item">
        <h3>Frequently asked questions</h3>
        <ul class="accordion">
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>What CMS does StoryMapJS work on?</h3>
                    <div class="accordion-content">
                        <ul><li>Custom sites</li><li>Wordpress</li><li>Squarespace</li><li>Wix</li></ul><p>Please let us know if you have tried it on others and it works, so that we can add to the list.</p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>Why aren&#x27;t my Google Drive or DropBox Zoomify images working?</h3>
                    <div class="accordion-content">
                        <p>Unfortunately, Google has <a href='http://googleappsdeveloper.blogspot.com/2015/08/deprecating-web-hosting-support-in.html' target='_blank'>deprecated web hosting in Google Drive</a>, which means that Zoomify images hosted on Google Drive. will no longer display. Dropbox has similary <a href='https://www.dropbox.com/help/16' target='_blank'>discontinued rendering content in public folders</a>, so this method will cause problems for many users as well.</p><p>We're working on a solution, but for right now the only other option seems to be hosting your images on a web server.</p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>Why are my DropBox images not showing?</h3>
                    <div class="accordion-content">
                        <p>First the image must be in the public folder.</p><p>To get the image URL change the domain name from the link that dropbox creates.</p><p><strong>Incorrect:</strong> <code>https://www.dropbox.com/s/38053034/GOT%20Storymap%20images/jon-weirwood-tree.jpg</code></p><p><strong>Correct:</strong> <code>https://dl.dropboxusercontent.com/u/38053034/GOT%20Storymap%20images/jon-weirwood-tree.jpg</code></p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>How can I have a map without the lines between points?</h3>
                    <div class="accordion-content">
                        To disable connecting lines on maps, use the StoryMap option: <code>Treat as Image</code> <em>(as opposed to the default, <code>Treat as Cartography</code>)</em>
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>How can I link to a specific slide?</h3>
                    <div class="accordion-content">
                        <p>You can add a parameter to the URL that is the value of the iframe src attribute, <code>start_at_slide</code>. Its value should be a number from 0 to one less than the total number of slides in the storymap.</p> <p><strong>For example:</strong> <code>http://cdn.knightlab.com/libs/storymapjs/latest/embed/?url=//media.knightlab.com/StoryMapJS/demo/sochi.json&start_at_slide=5</code></p><p>This should load <q>Sochi 2014 Olympic Torch Relay Highlights: Slide 5.</q></p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>How can I use a custom map?</h3>
                    <div class="accordion-content">
                        <p>Choose <code>options</code> from the top left of the StoryMap window, then from the <code>map type</code> menu choose the type you like.</p> <p>Select <code>Mapbox</code> to enter the ID of your Mapbox map.</p> Select <code>custom</code> to enter the URL for a tile server. If the server supports multiple subdomains, enter them as a single string in the Subdomain field (e.g. subdomains 'a', 'b', and 'c' should be entered as 'abc').
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>How can I adjust the zoom?</h3>
                    <div class="accordion-content">
                        <p>To keep it simple for most users, we've made some assumptions in the authoring tool which may not universally apply. For example, the first screen is always an <code>overview</code> slide. Also, the zoom is affected by the overall size of the map and the relationship between the current and previous points on the map.</p> <p>It's possible to download the configuration (a JSON file) that the authoring tool makes and edit the JSON yourself. You could then change the first slide to not be an <code>overview</code> and manually set a starting lat/lon/zoom.</p> <p>Be aware that switching back and forth between editing within and outside the authoring tool can get messy, so we suggest using our <a href='https://storymap.knightlab.com/advanced/'>advanced</a> method to have maximum control over the zoom feature and more.</p>
                    </div>
                </li>
        </ul>
    </div>
</div>


</section>




    </article>

    <section class="moth--product">
    <h3>Storytelling Tools</h3>
    <p class="product-tagline">We build easy-to-use tools that can help you tell better stories.</p>
    <div class="grid grid-size-4 grid-size-2-tablet grid-size-1-phone">
        <div class="grid-item">
            <a href="http://timeline.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-timeline.png">
                <h4 class="product-logo product-logo-small">Timeline <span>JS</span></h4>
                <p class="product-tagline">Easy-to-make, beautiful timelines.</p>
            </a>
        </div>
        <div class="grid-item">
            <a href="http://storymap.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-storymap.png">
                <h4 class="product-logo product-logo-small">StoryMap <span>JS</span></h4>
                <p class="product-tagline">Maps that tell stories.</p>

            </a>
        </div>
        <div class="grid-item">
            <a href="http://juxtapose.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-juxtapose.jpg">
                <h4 class="product-logo product-logo-small">Juxtapose <span>JS</span></h4>
                <p class="product-tagline">Easy-to-make frame comparisons.</p>
            </a>
        </div>
        <div class="grid-item">
            <a href="http://soundcite.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-soundcite.png">
                <h4 class="product-logo product-logo-small">Soundcite <span>JS</span></h4>
                <p class="product-tagline">Seamless inline audio.</p>
            </a>
        </div>
    </div>
    <a href="http://knightlab.northwestern.edu/projects/" class="button button-dark" style="margin-top:1rem;z-index:22;">View More</a>
</section>

    <footer class="footer-knightlab--dark">
    <div class="container">
        <div class='grid grid-center'>
            <div class='column-2 column-4-phone column-4-tablet'>
                <a href="http://knightlab.northwestern.edu" target="_blank">
                    <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/logo-knightlab-stacked-dark-small.png" style="margin-left:auto;">
                </a>
                <ul class="list--social text-align-center">
                    <li><a class="link--no-style" href="http://www.twitter.com/knightlab" target="_blank" title="Knight Lab on Twitter"><span class="icon-twitter"></span></a></li>
                    <li><a class="link--no-style" href="https://www.facebook.com/knightlab" target="_blank" title="Knight Lab on Facebook"><span class="icon-facebook"></span></a></li>
                    <li><a class="link--no-style" href="https://github.com/NUKnightLab/" target="_blank" title="Knight Lab on GitHub"><span class="icon-github"></span></a></li>
                </ul>
            </div>
            <div class='column-4 column-5-tablet column-6-phone footer-description'>
                <p>
                    The <a title="Northwestern University" href="http://www.northwestern.edu/" target="_blank">Northwestern University</a> Knight Lab is a team of technologists and journalists working at advancing news media innovation through exploration and experimentation.
                </p>
                <div class="grid-size-2 grid-size-2-phone">
                    <div class="grid-item">
                        <a title="Medill School of Journalism, Media, Integrated Marketing Communications" href="http://www.medill.northwestern.edu/" target="_blank">
                            <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/logo-medill-dark.png">
                        </a>
                    </div>

                    <div class="grid-item">
                        <a title="McCormick School of Engineering" href="http://www.mccormick.northwestern.edu/" target="_blank">
                            <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/logo-mccormick-dark.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-center">
            <div class="grid-item">
            <address itemscope="" itemtype="http://data-vocabulary.org/Organization">
                <span style="display:none;" itemprop="name" title="Knight Lab | Advancing news media innovation through exploration and experimentation." class="address-name">Knight Lab</span>
                <span itemprop="tel" class="tel">(847) 467-4971</span>
                <span itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address" class="address">
                    <span itemprop="street-address" class="street-address">1845 Sheridan Road</span>
                    <span class="room-num">Fisk #109 &amp; #111</span>
                    <div class="address-group">
                        <span itemprop="locality">Evanston,</span> <span itemprop="region">IL</span> <span itemprop="postal-code">60208 </span>
                        <span style="display:none;" itemprop="geo" itemscope="" itemtype="http://www.data-vocabulary.org/Geo/" class="geo">
                            Latitude: <span itemprop="latitude">42.056893</span><br>Longitude:
                            <span itemprop="longitude">-87.676735</span>
                        </span>
                        <a style="display:none;" href="http://knightlab.northwestern.edu" itemprop="url" class="url">Northwesten University Knight Lab | Advancing media innovation through exploration and experimentation.</a>
                    </div>
                </span>
            </address>
            <span class="copyright">© Copyright 2016 Northwestern University</span>
            </div>
        </div>
    </div>
</footer>
<script id="soundcloud-clip-base-template" type="text/template">
<span class="soundcite" data-id="<%= id %>" data-start="<%= start %>" data-end="<%= end %>" data-plays="<%= plays %>"><%= text %></span>
</script>
<script id="file-clip-base-template" type="text/template">
<span class="soundcite" data-url="<%= url %>" data-start="<%= start %>" data-end="<%= end %>" data-plays="<%= plays %>"><%= text %></span>
</script>
<script id="clip-preview-template" type="text/template">
<div class="clip">
  <button type='button' class='btn btn-text pull-right delete-clip'>delete</button>
  <p>This is your clip <%= clip_html %> shown inline with text.</p>
  <h6>Embed code</h6>
  <textarea readonly="readonly" class="code"><%= clip_html %></textarea>
</div>
</script>

<script id="create-error-template" type="text/template">
<div id="create-error" class="alert alert-error clear">
  <button data-dismiss="alert" class="close" type="button">x</button>
  <strong>Oops!</strong> Please correct the errors above and try submitting again.
</div>
</script>

<script id="embed-code-template" type="text/template">
    this is simple
</script>
<script src="https://cdn.knightlab.com/libs/orangeline/latest/js/main.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//w.soundcloud.com/player/api.js"></script>
<script src="/static/js/main.js"></script>


</body>

</html>
